@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'app-spinners';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-content {
  padding: 30px;
}
